In [2]:
from sklearn.datasets import load_iris
import pandas as pd

In [3]:
iris = load_iris()
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_df["label"] = iris.target
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

sepal: 萼(がく)
petal: 花弁

In [4]:
iris.data.shape

(150, 4)

In [6]:
from pandas import Series

intercept = Series([1] * iris_df.shape[0])  # intercept: 切片
iris_df["intercept"] = intercept

In [8]:
iris_df_0_or_1 = iris_df.head(100)

In [11]:
from sklearn.model_selection import train_test_split

train, rest = train_test_split(
    iris_df_0_or_1, test_size=0.3, stratify=iris_df_0_or_1["label"]
)