In [1]:
import pandas as pd

## 50. データの入手・整形

In [2]:
df = pd.read_csv('data/NewsAggregatorDataset/newsCorpora.csv', header=None, sep='\t',
                 names=['id', 'title', 'url', 'publisher', 'category', 'story', 'hostname', 'timestamp'])
cols = ['Reuters', 'Huffington Post', 'Businessweek', 'Contactmusic.com', 'Daily Mail']
df = df[df['publisher'].isin(cols)]

In [3]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,id,title,url,publisher,category,story,hostname,timestamp
0,351350,Beloved Young Adult Writer Walter Dean Myers D...,http://www.contactmusic.com/article/monster-au...,Contactmusic.com,e,d8ffUOxditMOG7MLsJtv-MEuTgZwM,www.contactmusic.com,1404396394745
1,56195,Bitcoin: the New Era of Wildcat Banking,http://www.huffingtonpost.com/jason-gordo/wild...,Huffington Post,b,de0dBu9KqC-vjPMnsC-wC_kui-1SM,www.huffingtonpost.com,1396010852000
2,203544,Drone Almost Hit US Airways Jet Over Florida i...,http://www.businessweek.com/news/2014-05-10/dr...,Businessweek,b,d84jnFyV6DXI8FMbgrDu2O6JMzqRM,www.businessweek.com,1399750142749
3,107050,Summit Will Split 'Divergent' Finale 'Allegian...,http://www.huffingtonpost.com/2014/04/11/alleg...,Huffington Post,e,dgbsxQzsw6Y5ixMWUWnv2iVmooMZM,www.huffingtonpost.com,1397354660593
4,36286,UPDATE 1-'Divergent' teen warriors defeat 'Mup...,http://in.reuters.com/article/2014/03/23/boxof...,Reuters,e,d_oUk702ysXcmLMXRJe0R-XgNycCM,in.reuters.com,1395624050892

In [4]:
from sklearn.model_selection import train_test_split

train, rest = train_test_split(df, test_size=0.2, random_state=42, stratify=df['category'])
valid, test = train_test_split(rest, test_size=0.5, random_state=42, stratify=rest['category'])

## 51. 特徴量抽出

In [5]:
train['title_words'] = train['title'].apply(lambda x: x.split(' '))
train.groupby('category')['title_words', 'publisher'].describe()

/var/folders/vt/s15n0wxx10zgxq87t9mrzgqh0000gp/T/ipykernel_5737/2601455879.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  train.groupby('category')['title_words', 'publisher'].describe()

         title_words         \
               count unique
category
b               4502   4432
e               4223   4179
m                728    717
t               1219   1190

                                                                 publisher  \
                                                        top freq     count
category
b         [Deals, of, the, day-, Mergers, and, acquisiti...    5      4502
e         [The, top, films, at, the, North, American, bo...    5      4223
m         [Air, Pollution, Kills, 7, Million, People, Ev...    2       728
t         [UPDATE, 4-Honda, and, others, recall, nearly,...    2      1219


         unique               top  freq
category
b             5           Reuters  2512
e             5  Contactmusic.com  1865
m             5   Huffington Post   253
t             5   Huffington Post   370

## 52. 学習

In [14]:
df.shape

(13340, 8)

In [15]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

# [Choosing the right estimator — scikit\-learn 1\.0\.2 documentation](https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html)
# As cheat sheet, Use LinearSVC or Naive Bayes for Text Classification.

text_lsvc_clf = Pipeline([('vect', CountVectorizer()), ('tfidf', TfidfTransformer()), ('clf', ())])
text_nb_clf = Pipeline([('vect', CountVectorizer()), ('tfidf', TfidfTransformer()), ('clf', MultinomialNB())])