In [2]:
import pandas as pd

In [3]:
# 50. データの入手・整形

df = pd.read_csv('data/NewsAggregatorDataset/newsCorpora.csv', header=None, sep='\t',
                 names=['id', 'title', 'url', 'publisher', 'category', 'story', 'hostname', 'timestamp'])
cols = ['Reuters', 'Huffington Post', 'Businessweek', 'Contactmusic.com', 'Daily Mail']
df = df[df['publisher'].isin(cols)]

In [9]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,id,title,url,publisher,category,story,hostname,timestamp
0,115331,Why Joan Deserves More Attention On 'Mad Men',http://www.huffingtonpost.com/2014/04/14/joan-...,Huffington Post,e,dNuRntIycre1woM9qIuNHdWmaw27M,www.huffingtonpost.com,1397522306810
1,157694,Drew Barrymore gives birth to second daughter....,http://www.dailymail.co.uk/tvshowbiz/article-2...,Daily Mail,e,dm2RjkdJx2_Dx9MlISuF1FQz_KksM,www.dailymail.co.uk,1398344541417
2,272388,'Cruise Ship Virus' Sickens 20 Million America...,http://www.businessweek.com/articles/2014-06-0...,Businessweek,m,dZucaPqjRYg62hMXTuDAXRw6MxCBM,www.businessweek.com,1401841802832
3,230549,Tiffany Profit Tops Estimates as Higher Prices...,http://www.businessweek.com/news/2014-05-21/ti...,Businessweek,b,dwrKVe5CgTeKKCMrlSpYM4vMh37hM,www.businessweek.com,1400684005035
4,139216,Researchers Find Link Between Chronic Inflamma...,http://www.huffingtonpost.com/2014/04/18/chron...,Huffington Post,m,d65nOzZY7ZmPVjMOm1TIqssezy53M,www.huffingtonpost.com,1397901876324

In [12]:
from sklearn.model_selection import train_test_split

train, rest = train_test_split(df, test_size=0.2, random_state=42, stratify=df['category'])
valid, test = train_test_split(rest, test_size=0.5, random_state=42, stratify=rest['category'])

In [21]:
# 51. 特徴量抽出

train['title_words'] = train['title'].apply(lambda x: x.split(' '))
train.groupby('category')['title_words'].describe()

         count unique                                                top freq
category
b         4502   4432  [Deals, of, the, day-, Mergers, and, acquisiti...    6
e         4223   4183  [The, top, films, at, the, North, American, bo...    4
m          728    718  [Another, medical, use, for, cannabis, as, sci...    2
t         1219   1187  [Google, Buys, Drone-Maker, For, Supposedly, N...    2