In [3]:
import pandas as pd

In [5]:
s = pd.Series(range(5))
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [6]:
s.rolling(window=2).sum()

0    NaN
1    1.0
2    3.0
3    5.0
4    7.0
dtype: float64

In [7]:
type(s.rolling(window=2))

pandas.core.window.rolling.Rolling

In [9]:
for window in s.rolling(window=2): # as groupby, iterate over each window
    print(type(window))
    print(window)

<class 'pandas.core.series.Series'>
0    0
dtype: int64
<class 'pandas.core.series.Series'>
0    0
1    1
dtype: int64
<class 'pandas.core.series.Series'>
1    1
2    2
dtype: int64
<class 'pandas.core.series.Series'>
2    2
3    3
dtype: int64
<class 'pandas.core.series.Series'>
3    3
4    4
dtype: int64

In [11]:
s = pd.Series(range(5), index=pd.date_range('2020-01-01', periods=5, freq='1D'))
s

2020-01-01    0
2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
Freq: D, dtype: int64

In [12]:
s.rolling(window='2D').sum()

2020-01-01    0.0
2020-01-02    1.0
2020-01-03    3.0
2020-01-04    5.0
2020-01-05    7.0
Freq: D, dtype: float64

In [15]:
df = pd.DataFrame({'A': ['a', 'b', 'a', 'b', 'a'], 'B': range(5)})
df

   A  B
0  a  0
1  b  1
2  a  2
3  b  3
4  a  4

In [17]:
df.groupby('A').expanding().sum() # Window内の現在までの全ての値を対象に取る

       B
A
a 0  0.0
  2  2.0
  4  6.0
b 1  1.0
  3  4.0

In [18]:
df.expanding().sum() # DataFrameに対して使用した場合、Groupが1つしか無いDataFrameGroupByとみなされる

      B
0   0.0
1   1.0
2   3.0
3   6.0
4  10.0

In [ ]:
# Centering windows
s = pd.Series(range(10))
s.rolling(window=5, center=True).mean() # いわゆる[中央移動平均](http://www.stat.go.jp/naruhodo/10_tokucho/sonota.html)

In [4]:
import numpy as np

In [7]:
# Binary window functions

df = pd.DataFrame(
    np.random.randn(10, 4),
    index=pd.date_range("2020-01-01", periods=10),
    columns=["A", "B", "C", "D"],
)
df.head()

                   A         B         C         D
2020-01-01  2.311128 -0.440183  0.468897  0.232072
2020-01-02 -1.112128 -0.275594 -1.529163  0.873737
2020-01-03  1.020057  0.183623 -0.040150 -0.016827
2020-01-04  0.130805 -1.215517  0.971653  1.423980
2020-01-05 -0.958900  0.551896 -1.290940 -1.609670

In [8]:
df = df.cumsum() # Cumulative Sum / 累積和
df.head()

                   A         B         C         D
2020-01-01  2.311128 -0.440183  0.468897  0.232072
2020-01-02  1.199000 -0.715777 -1.060266  1.105809
2020-01-03  2.219057 -0.532155 -1.100417  1.088982
2020-01-04  2.349861 -1.747671 -0.128764  2.512962
2020-01-05  1.390962 -1.195775 -1.419704  0.903293

In [10]:
df2 = df[:4]
df2.head()

                   A         B         C         D
2020-01-01  2.311128 -0.440183  0.468897  0.232072
2020-01-02  1.199000 -0.715777 -1.060266  1.105809
2020-01-03  2.219057 -0.532155 -1.100417  1.088982
2020-01-04  2.349861 -1.747671 -0.128764  2.512962

In [11]:
df2.rolling(window=2).corr(df2["B"])

              A    B    C    D
2020-01-01  NaN  NaN  NaN  NaN
2020-01-02  1.0  1.0  1.0 -1.0
2020-01-03  1.0  1.0 -1.0 -1.0
2020-01-04 -1.0  1.0 -1.0 -1.0